body{
	background-color: #F0F1F9;
    margin: 25px 100px 50px 100px;
    padding: 5px 10px;
}

font{
	color: #1e90ff;
}

p{
	text-align: justify;;
}

.izquierda{
	float: left;
	padding: 0px 0px 10px 55px; 
	overflow:auto; 
	
}
.derecha{
	float: right; 
	padding: 0px 55px 10px 0px;
	overflow:auto; 
}

.button{
	background-color: #7180FD;
	font-weight: bold;
	padding: 15px;
	text-align: center;
	border: 2px solid #7180AA;
	border-radius: 5px;

	width: 10px 20px;
	margin: 20px 450px;
}
